<?xml version="1.0" encoding="utf-8"?>
<Media Key="143d3962-ec46-42ac-8a89-4b6a9a6a5cad" Alias="03.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-31T10:34:08</CreateDate>
    <NodeName Default="03.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3xzhxirp/03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>