<?xml version="1.0" encoding="utf-8"?>
<Media Key="0121a865-03e5-4680-9f12-8ccf795c07ed" Alias="04.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-31T10:34:07</CreateDate>
    <NodeName Default="04.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3jrgpn2m/04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>