<?xml version="1.0" encoding="utf-8"?>
<Media Key="edbd455d-b0f9-4d04-b1f1-f76aa046080e" Alias="05.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-31T10:34:07</CreateDate>
    <NodeName Default="05.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0khpww2q/05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>