<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ba2b5b6-79c9-4fd6-b32b-97267f556ad1" Alias="Assurance-Audits.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssuranceAuditspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T10:04:49</CreateDate>
    <NodeName Default="Assurance-Audits.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hf5pjlna/assurance-audits.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>