<?xml version="1.0" encoding="utf-8"?>
<Media Key="71fb043a-2e16-4a09-a3ab-941fcd8ed6ec" Alias="Bonds-Commodities.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BondsCommoditiespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T10:04:50</CreateDate>
    <NodeName Default="Bonds-Commodities.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wxhl1r15/bonds-commodities.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>