<?xml version="1.0" encoding="utf-8"?>
<Media Key="68cf1128-683f-43a4-947d-86cac494dea4" Alias="Component 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Component1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-31T22:02:41</CreateDate>
    <NodeName Default="Component 1.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/u5njtxsw/component-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>