<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd16749d-c024-4170-abaf-6b2c25bf4329" Alias="Dot map.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T21:10:33</CreateDate>
    <NodeName Default="Dot map.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ck5fac0n/dot-map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>