<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a1c35ca-d315-4fe3-8f56-33a3e9e62535" Alias="Group.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Grouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T21:08:54</CreateDate>
    <NodeName Default="Group.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ix5fvxd2/group.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>