<?xml version="1.0" encoding="utf-8"?>
<Media Key="01a780c0-f09f-446a-aa21-b7fa8f2f9f41" Alias="Icon address.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconAddresspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-01T20:29:54</CreateDate>
    <NodeName Default="Icon address.png" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j3fodn5w/icon-address.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>