<?xml version="1.0" encoding="utf-8"?>
<Media Key="e99b3221-573f-4733-9d94-55e8e07db255" Alias="Icon calendar.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconCalendarsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:49:26</CreateDate>
    <NodeName Default="Icon calendar.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ohdscze/icon-calendar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>