<?xml version="1.0" encoding="utf-8"?>
<Media Key="5df28cdf-742f-49a2-82ac-5a038eef2bcb" Alias="Icon phone.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconPhonepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-01T20:30:21</CreateDate>
    <NodeName Default="Icon phone.png" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kbdlj00g/icon-phone.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>