<?xml version="1.0" encoding="utf-8"?>
<Media Key="d062b0c9-ec8f-4c7f-9e4e-0995fa4fe907" Alias="Icon email.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconEmailpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-01T20:30:40</CreateDate>
    <NodeName Default="Icon email.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iz3cizxg/icon-email.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>