<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8cb2c5f-625d-48e4-b188-ffbe04dbfe77" Alias="Icon facebook.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconFacebookpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-03T21:48:49</CreateDate>
    <NodeName Default="Icon facebook.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0dti0xru/icon-facebook.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>