<?xml version="1.0" encoding="utf-8"?>
<Media Key="c00ad038-c9d0-444b-9dcd-ecd825735451" Alias="Img-47 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:24:23</CreateDate>
    <NodeName Default="Img-47 1.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zjwlqiwl/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>