<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1d4bc47-a062-4d44-bf08-c58885281ec8" Alias="Img-1-4 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img141svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:31:27</CreateDate>
    <NodeName Default="Img-1-4 1.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wuahme1z/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>