<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9f917c3-02a0-49e2-b9db-73a928ae4d01" Alias="kevin-gardner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-01T20:00:04</CreateDate>
    <NodeName Default="kevin-gardner.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jtol4h4j/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>