<?xml version="1.0" encoding="utf-8"?>
<Media Key="09dc290a-76be-4a37-8c48-618b5a9aff07" Alias="map 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-02T21:24:51</CreateDate>
    <NodeName Default="map 1.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qxrjvp4x/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>