<?xml version="1.0" encoding="utf-8"?>
<Media Key="1074912b-b7bc-4144-a7d1-7160eb9f7391" Alias="pj1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:50:41</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ewnn2vh/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>