<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b3a558e-5150-448a-bc93-23cc9a2ea82e" Alias="pj2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:50:41</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ptujrokl/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>