<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e98c66a-e1d6-4cc0-90b4-e6699ce0bfc2" Alias="pj3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:50:41</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tb3du1gn/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>