<?xml version="1.0" encoding="utf-8"?>
<Media Key="211e71fe-c8c8-4e65-92f6-261d38f1d1ea" Alias="pj4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:50:41</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/btglzq4t/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>