<?xml version="1.0" encoding="utf-8"?>
<Media Key="f45d36d2-f778-4333-8d11-6663b2dec555" Alias="post2 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T10:43:00</CreateDate>
    <NodeName Default="post2 1.png" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lx4bwqqr/post2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>