<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cc11e5f-0b94-4692-ad7a-bd2ab4da6039" Alias="Rating.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-31T22:01:50</CreateDate>
    <NodeName Default="Rating.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0dkioox3/rating.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>