<?xml version="1.0" encoding="utf-8"?>
<Media Key="a24a0ce2-d043-4120-a8cc-c4037f2df4d2" Alias="Risk-Management.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T10:04:50</CreateDate>
    <NodeName Default="Risk-Management.png" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nxdayfbk/risk-management.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>