<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eeb6dac-a17d-4d6e-9bad-d437571696ef" Alias="sl-home2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T11:27:20</CreateDate>
    <NodeName Default="sl-home2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eotl0kau/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>