<?xml version="1.0" encoding="utf-8"?>
<Media Key="d17f608e-5d7b-4644-871d-be678c106d11" Alias="Statistic-Advisors.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatisticAdvisorspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T21:10:08</CreateDate>
    <NodeName Default="Statistic-Advisors.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/agvdszys/statistic-advisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>