<?xml version="1.0" encoding="utf-8"?>
<Media Key="01d86f95-fdd9-4c61-934e-d340034b73f5" Alias="TaxandTrusts.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaxandTrustspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T10:04:50</CreateDate>
    <NodeName Default="TaxandTrusts.png" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dksj3n3q/taxandtrusts.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>