<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f82f0dd-c5fd-48d8-ab6e-9469c5040c74" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="ef32dd60-011d-4bff-9da5-6bbdb45b699e">Service</Parent>
    <Path>/Home/Service/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T10:05:43</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0b866927-1fd5-49fc-8f47-75daad4889d3">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "cc4c208f-cc67-4575-b800-03b6eb9ffb1b",
    "mediaKey": "1ba2b5b6-79c9-4fd6-b32b-97267f556ad1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>