<?xml version="1.0" encoding="utf-8"?>
<Content Key="16c93665-8722-44e7-b12a-5fc2d406a41c" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="ef32dd60-011d-4bff-9da5-6bbdb45b699e">Service</Parent>
    <Path>/Home/Service/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T10:05:55</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0b866927-1fd5-49fc-8f47-75daad4889d3">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "a422c4ec-152d-4b00-93a6-ee93f9bd4e41",
    "mediaKey": "71fb043a-2e16-4a09-a3ab-941fcd8ed6ec",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>