<?xml version="1.0" encoding="utf-8"?>
<Content Key="31826672-b2a2-4685-8102-c320da2533f1" Alias="Budget Planning" Level="3">
  <Info>
    <Parent Key="3d0e0a9e-2480-46ee-94fa-6ed6de270533">Project</Parent>
    <Path>/Home/Project/BudgetPlanning</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-11T12:57:58</CreateDate>
    <NodeName Default="Budget Planning" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9eb8c669-31e4-4c0f-bf79-ce92b1a06024">ProjectDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectDetailAside>
      <Value><![CDATA[]]></Value>
    </projectDetailAside>
    <projectDetailBody>
      <Value><![CDATA[]]></Value>
    </projectDetailBody>
    <projectDetailButton>
      <Value><![CDATA[]]></Value>
    </projectDetailButton>
    <projectDetailDate>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003EJanuary 3, 2024\u003C/p\u003E"
}]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-sm font-regular\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1e33090c-15e1-47c4-ba24-f638c92c03ea",
    "mediaKey": "211e71fe-c8c8-4e65-92f6-261d38f1d1ea",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
    <projectDetailTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EBudget Planning for Buccura In...\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </projectDetailTitle>
  </Properties>
</Content>