<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4ad25d0-6b20-4abc-96ac-99b69094f534" Alias="Business Insights" Level="3">
  <Info>
    <Parent Key="3d0e0a9e-2480-46ee-94fa-6ed6de270533">Project</Parent>
    <Path>/Home/Project/BusinessInsights</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-11T12:53:38</CreateDate>
    <NodeName Default="Business Insights" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9eb8c669-31e4-4c0f-bf79-ce92b1a06024">ProjectDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectDetailAside>
      <Value><![CDATA[]]></Value>
    </projectDetailAside>
    <projectDetailBody>
      <Value><![CDATA[]]></Value>
    </projectDetailBody>
    <projectDetailButton>
      <Value><![CDATA[]]></Value>
    </projectDetailButton>
    <projectDetailDate>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003EMay 17, 2024\u003C/p\u003E"
}]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-sm font-regular\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "b9ce14a7-37e6-448b-9b8c-047eafd50511",
    "mediaKey": "5b3a558e-5150-448a-bc93-23cc9a2ea82e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
    <projectDetailTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EBusiness Insights for SP Group...\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </projectDetailTitle>
  </Properties>
</Content>