<?xml version="1.0" encoding="utf-8"?>
<Content Key="76474bfb-62a0-47d6-a594-58c1745b2d1a" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f813868b-5d94-4f38-ac19-da12d0c1e00f">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-28T09:39:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="22ca96f6-2411-440b-b822-60c764f4d805">ContactPage</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "455aa63d-d81d-4b01-9cc2-b8874766f494",
      "key": "611e6e63-bff9-48c6-9c63-55ade5847e86",
      "udi": null,
      "values": [
        {
          "alias": "infoManBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1e0c7e2b-b335-435a-b0ed-a468294b8993",
              "mediaKey": "68cf1128-683f-43a4-947d-86cac494dea4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoMan",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b65c4e17-ae84-42bd-89b6-91ee183aa816",
              "mediaKey": "aca4bdc4-2e66-43bf-a21a-497dc47531b8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003ELet us know about\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003Eyour next project\u003C/p\u003E"
          }
        },
        {
          "alias": "officeIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "187a7723-b24f-4ec1-af5c-88c9a8171e46",
              "mediaKey": "01a780c0-f09f-446a-aa21-b7fa8f2f9f41",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan class=\u0022text-body-text-100\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "phoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c707cd31-e1a0-423f-8f25-1fc464e7c89b",
              "mediaKey": "5df28cdf-742f-49a2-82ac-5a038eef2bcb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan class=\u0022text-body-text-100\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "emailIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c6710767-d650-40ed-aa54-21d463f05dc5",
              "mediaKey": "d062b0c9-ec8f-4c7f-9e4e-0995fa4fe907",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "emailAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:sales@onatrix.com\u0022 type=\u0022external\u0022\u003E\u003Cspan class=\u0022text-body-text-100\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "611e6e63-bff9-48c6-9c63-55ade5847e86",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "611e6e63-bff9-48c6-9c63-55ade5847e86",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactSection>
    <mapImage>
      <Value><![CDATA[[
  {
    "key": "bdc62aff-c83a-4dca-b78e-a0811db40a82",
    "mediaKey": "09dc290a-76be-4a37-8c48-618b5a9aff07",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mapImage>
    <mapText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </mapText>
    <mapTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap; color: rgb(217, 195, 169);\u0022\u003ERequest a call back\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </mapTitle>
    <mapTitleTwo>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Ch1 style=\u0022text-align: center;\u0022\u003ELet us know about your\u003Cbr\u003Enext project\u003C/h1\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </mapTitleTwo>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EContact Us\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <partnerBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1240eb20-40f7-4639-bba1-53f458fc1fd1",
      "key": "a1c2cfe6-56c6-4de7-ad41-d7943720a94e",
      "udi": null,
      "values": [
        {
          "alias": "partnerOne",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "87c1d1ee-0485-4e0e-9fb9-ee5f46f312fa",
              "mediaKey": "1b15c10f-92fd-4330-b346-4bee1dc1751a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerTwo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8818077c-d5a8-4795-be84-351dfe64b154",
              "mediaKey": "081decf8-8bf1-4088-9426-72845d91c60a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerThree",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7cf9c643-2102-4855-bf67-9b5d52ac35ee",
              "mediaKey": "143d3962-ec46-42ac-8a89-4b6a9a6a5cad",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerFour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9cff7d7e-0759-46b9-bd8e-a23219459edd",
              "mediaKey": "0121a865-03e5-4680-9f12-8ccf795c07ed",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerFive",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1aa51a08-8297-411f-afb0-d863390b2009",
              "mediaKey": "edbd455d-b0f9-4d04-b1f1-f76aa046080e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerSix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d0c5f52f-6988-4c80-b6ad-1c60932fcfb0",
              "mediaKey": "6159c926-241b-4ff5-b9bf-7ffcac8e326f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a1c2cfe6-56c6-4de7-ad41-d7943720a94e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a1c2cfe6-56c6-4de7-ad41-d7943720a94e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnerBlock>
  </Properties>
</Content>