<?xml version="1.0" encoding="utf-8"?>
<Content Key="d85385c8-99e8-4ac6-84cc-b651c4053393" Alias="Financial Advisors" Level="3">
  <Info>
    <Parent Key="3d0e0a9e-2480-46ee-94fa-6ed6de270533">Project</Parent>
    <Path>/Home/Project/FinancialAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-11T12:56:30</CreateDate>
    <NodeName Default="Financial Advisors" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9eb8c669-31e4-4c0f-bf79-ce92b1a06024">ProjectDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectDetailAside>
      <Value><![CDATA[]]></Value>
    </projectDetailAside>
    <projectDetailBody>
      <Value><![CDATA[]]></Value>
    </projectDetailBody>
    <projectDetailButton>
      <Value><![CDATA[]]></Value>
    </projectDetailButton>
    <projectDetailDate>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFebruary 6, 2024\u003C/p\u003E"
}]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-sm font-regular\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1fe6794a-8ebe-4a0a-8d86-3fee8715c8fb",
    "mediaKey": "8e98c66a-e1d6-4cc0-90b4-e6699ce0bfc2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
    <projectDetailTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFinancial Advisors for Irra Grou...\u003C/p\u003E"
}]]></Value>
    </projectDetailTitle>
  </Properties>
</Content>