<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f7ea3dd-9e3e-4eeb-a0ba-9f7c40ccb0ab" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="ef32dd60-011d-4bff-9da5-6bbdb45b699e">Service</Parent>
    <Path>/Home/Service/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T10:05:07</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0b866927-1fd5-49fc-8f47-75daad4889d3">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "2a2db493-495c-406d-baa7-4e858f533add",
    "mediaKey": "0ec70b71-1690-41b0-a11d-7d81bd7dd027",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>