<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d0e0a9e-2480-46ee-94fa-6ed6de270533" Alias="Project" Level="2">
  <Info>
    <Parent Key="f813868b-5d94-4f38-ac19-da12d0c1e00f">Home</Parent>
    <Path>/Home/Project</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-11-02T16:42:05</CreateDate>
    <NodeName Default="Project" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7b61912-765c-483f-a819-e105d3dd37bc">ProjectPage</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "455aa63d-d81d-4b01-9cc2-b8874766f494",
      "key": "6af209fa-fbb4-42ab-a199-0e4542189229",
      "udi": null,
      "values": [
        {
          "alias": "infoManBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c0fbc93c-96e5-4f55-9aac-a2b1053a64a6",
              "mediaKey": "68cf1128-683f-43a4-947d-86cac494dea4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoMan",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e9b236e5-e3f7-4962-94d7-3bc71723149e",
              "mediaKey": "aca4bdc4-2e66-43bf-a21a-497dc47531b8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELet us know about\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Eyour next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "officeIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1061f992-04c1-45ee-9150-ca54e8c77470",
              "mediaKey": "01a780c0-f09f-446a-aa21-b7fa8f2f9f41",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "phoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0632314f-08bd-46d4-9375-c60b84334aa1",
              "mediaKey": "01a780c0-f09f-446a-aa21-b7fa8f2f9f41",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "emailIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "26effd82-1fd7-4599-b935-709acdbef730",
              "mediaKey": "d062b0c9-ec8f-4c7f-9e4e-0995fa4fe907",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "emailAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:sales@onatrix.com\u0022 type=\u0022external\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6af209fa-fbb4-42ab-a199-0e4542189229",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6af209fa-fbb4-42ab-a199-0e4542189229",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EOur Projects\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <projectSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6966be82-b923-4695-8531-e2cd30b44cd2",
      "key": "1ca4a534-b2b1-4736-b9a7-feef319137c4",
      "udi": null,
      "values": [
        {
          "alias": "projectDetailAside",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "12c94b43-3e81-471b-8bdb-9fd53ebb84ed",
                "key": "ed832060-6cad-4853-8d90-3596910944aa",
                "udi": null,
                "values": [
                  {
                    "alias": "projectTags",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EReport\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EBusines plans\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EInsights\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EBusiness\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EApp\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EProject\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EFinance\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EPricing\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "projectTagTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ERecent Tags\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ed832060-6cad-4853-8d90-3596910944aa",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ed832060-6cad-4853-8d90-3596910944aa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1ca4a534-b2b1-4736-b9a7-feef319137c4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1ca4a534-b2b1-4736-b9a7-feef319137c4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectSection>
  </Properties>
</Content>