<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef32dd60-011d-4bff-9da5-6bbdb45b699e" Alias="Service" Level="2">
  <Info>
    <Parent Key="f813868b-5d94-4f38-ac19-da12d0c1e00f">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-02T16:39:59</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e16524b6-8711-4646-9f83-ea5ec8c2a526">ServicePage</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "455aa63d-d81d-4b01-9cc2-b8874766f494",
      "key": "e4b64079-487c-4851-bad9-bbe19d237b11",
      "udi": null,
      "values": [
        {
          "alias": "infoManBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "54007e26-7d5d-419f-ab86-4805e2a47177",
              "mediaKey": "68cf1128-683f-43a4-947d-86cac494dea4",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoMan",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "08ef0bf9-05c4-4b41-a9b2-40693c2441e5",
              "mediaKey": "aca4bdc4-2e66-43bf-a21a-497dc47531b8",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003ELet us know about\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003Eyour next project\u003C/p\u003E"
          }
        },
        {
          "alias": "officeIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6a357d62-c643-4449-a67e-c3806ce67060",
              "mediaKey": "01a780c0-f09f-446a-aa21-b7fa8f2f9f41",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "phoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8ace759e-ef77-4648-8a03-1a0b59d79c3f",
              "mediaKey": "5df28cdf-742f-49a2-82ac-5a038eef2bcb",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "emailIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d8adf9f5-9199-4477-baf0-a4d0ce77dad6",
              "mediaKey": "d062b0c9-ec8f-4c7f-9e4e-0995fa4fe907",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "emailAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-light\u0022\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:sales@onatrix.com\u0022 type=\u0022external\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e4b64079-487c-4851-bad9-bbe19d237b11",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e4b64079-487c-4851-bad9-bbe19d237b11",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EOur Services\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <serviceSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b9aaf65b-f39b-4e51-bff2-7b958c81f02b",
      "key": "1016edb4-5fe4-4085-8d38-63558dd477a1",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003EOUR SERVICES\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "20ce639f-5eff-40dc-9876-f915c7dfdf48",
      "key": "f456487b-e52a-4170-bf54-0ebbbd7434e4",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1016edb4-5fe4-4085-8d38-63558dd477a1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1016edb4-5fe4-4085-8d38-63558dd477a1",
        "contentUdi": null,
        "settingsKey": "f456487b-e52a-4170-bf54-0ebbbd7434e4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceSection>
  </Properties>
</Content>