<?xml version="1.0" encoding="utf-8"?>
<Content Key="519edbed-5137-406f-91c0-d4de693badff" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="ef32dd60-011d-4bff-9da5-6bbdb45b699e">Service</Parent>
    <Path>/Home/Service/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T10:04:25</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "814b7da2-0a72-4b33-b250-f816959e9a89",
      "key": "b86229f7-f7cc-4d4f-a982-d33d1ce01703",
      "udi": null,
      "values": [
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b86229f7-f7cc-4d4f-a982-d33d1ce01703",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b86229f7-f7cc-4d4f-a982-d33d1ce01703",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "84342e64-90f7-42e1-a4ef-64b8018de34c",
    "mediaKey": "d17f608e-5d7b-4644-871d-be678c106d11",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>