<?xml version="1.0" encoding="utf-8"?>
<Content Key="37919d25-d9e4-428b-ba8e-98a2365a01f1" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="ef32dd60-011d-4bff-9da5-6bbdb45b699e">Service</Parent>
    <Path>/Home/Service/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T10:05:26</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0b866927-1fd5-49fc-8f47-75daad4889d3">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "d9785201-e588-4317-ab8c-91d051f820a4",
    "mediaKey": "01d86f95-fdd9-4c61-934e-d340034b73f5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>