@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = Model.Content;
    var footerText = content.Value<string>("footerText"); // se till att aliaset stämmer
}

<footer class="footer-block">
    <div class="footer-container">
        @Html.Raw(footerText)
    </div>
</footer>
