@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ProjectDetail>

@{
    Layout = "MainLayout.cshtml";
}
<partial name="Partials/_PageHeader" model="(IPageHeader)Model" />

<section class="project-detail-section">
    <div class="main-risk">
        <div class="side-bar">
            @Html.GetBlockListHtml(Model.ProjectDetailAside)

            <div class="help-container">
                <h3>How can we help you?</h3>
                <p>online support 24/7, we are here to help you</p>

                <form class="input-wrapper">
                    <button type="submit" class="mail-btn">
                        <i class="fa-solid fa-envelope"></i>
                    </button>
                    <input type="email" class="input-field" placeholder="Your email address" required />
                </form>
            </div>

        </div>

        <div class="main-bar">
            <p class="project-date">
                <i class="fa-regular fa-calendar"></i>
                November 11, 2025
            </p>
            <div class="rte">@Html.Raw(Model.ProjectDetailBody)</div>
        </div>
    </div>
</section>
@Html.GetBlockListHtml(Model.ContactSection)
