<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1067ac75-4238-4667-9082-f8618f16315a" Alias="Callback Form Section" Level="1">
  <Info>
    <Name>Callback Form Section</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "383eb327-1586-4396-bace-8059f232e2e3"
    }
  ]
}]]></Config>
</DataType>