<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7400465-07cc-4ec6-a5c1-67ae534de724" Alias="Contact Section" Level="1">
  <Info>
    <Name>Contact Section</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "455aa63d-d81d-4b01-9cc2-b8874766f494"
    }
  ]
}]]></Config>
</DataType>