<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d95c2268-fd49-4bf2-a95e-06d4449a73ae" Alias="Contact Page - MapForm - Single Form Picker Property Editor" Level="1">
  <Info>
    <Name>Contact Page - MapForm - Single Form Picker Property Editor</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "7b4759a8-b5e2-486d-9963-4a500d97572f"
  ]
}]]></Config>
</DataType>