<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd13ecac-de6c-4415-be41-c2e9cbd684f5" Alias="Contact Page - Contact Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Page - Contact Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "455aa63d-d81d-4b01-9cc2-b8874766f494"
    }
  ]
}]]></Config>
</DataType>