<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb43dba5-0818-4b5a-ae42-21774693f5b0" Alias="Home Page - Header - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Header - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "939b626e-de62-427b-bf8e-112c61dd2e58"
    }
  ]
}]]></Config>
</DataType>