<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87d63e2c-54a8-44d0-bee0-1be7ca740097" Alias="Home Page - Partner Section - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Partner Section - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1240eb20-40f7-4639-bba1-53f458fc1fd1"
    }
  ]
}]]></Config>
</DataType>