<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e997bfa6-dee8-40d0-9477-d56d49b7554b" Alias="Home Page - Service Section" Level="1">
  <Info>
    <Name>Home Page - Service Section</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b9aaf65b-f39b-4e51-bff2-7b958c81f02b",
      "settingsElementTypeKey": "20ce639f-5eff-40dc-9876-f915c7dfdf48"
    }
  ]
}]]></Config>
</DataType>