<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fadc6806-6fdd-476b-94d0-6ee3bcb32feb" Alias="Home Page - Top Bar Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Top Bar Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "85020b14-0913-4c2c-8061-a4790f3a6ceb"
    }
  ]
}]]></Config>
</DataType>