<?xml version="1.0" encoding="utf-8"?>
<DataType Key="722eb5f6-6952-43db-b294-5ee835aa75c5" Alias="Home Page - Footer - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Footer - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "183968cc-aa02-47a3-9f62-4652ddc37b07",
      "backgroundColor": "#00000000"
    }
  ]
}]]></Config>
</DataType>