<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b6287af-2243-4386-89b5-cffd15d95b06" Alias="Home Page - Form - Form Details Picker Property Editor" Level="1">
  <Info>
    <Name>Home Page - Form - Form Details Picker Property Editor</Name>
    <EditorAlias>UmbracoForms.FormDetailsPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormDetailsPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "61f8d948-b720-46a2-9652-9c812f8eafc9"
  ]
}]]></Config>
</DataType>