<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03dcc14f-a09b-4003-9dc1-742f2074b9e6" Alias="Project Page - Project Section - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Project Page - Project Section - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6966be82-b923-4695-8531-e2cd30b44cd2"
    }
  ]
}]]></Config>
</DataType>