<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24ec648f-f255-41e5-a947-880c280e18d4" Alias="Project Detail Aside" Level="1">
  <Info>
    <Name>Project Detail Aside</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "12c94b43-3e81-471b-8bdb-9fd53ebb84ed"
    }
  ]
}]]></Config>
</DataType>