<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3d55807-b192-44a2-8585-7f43ebc3f3cd" Alias="Service Page - Contact Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Page - Contact Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a7165bb7-6784-4cac-b221-8ead18c4d9bb"
    }
  ]
}]]></Config>
</DataType>