<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a3f7e02-065d-46cb-b5cf-55026a30a558" Alias="Service Detail Aside" Level="1">
  <Info>
    <Name>Service Detail Aside</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "814b7da2-0a72-4b33-b250-f816959e9a89"
    }
  ]
}]]></Config>
</DataType>