<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51b00d11-9b3d-4ef1-a65d-422610aba872" Alias="Side Bar Info" Level="1">
  <Info>
    <Name>Side Bar Info</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "12c94b43-3e81-471b-8bdb-9fd53ebb84ed"
    }
  ]
}]]></Config>
</DataType>