<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c62fda95-6a45-45f8-80eb-ff84cd12c893" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="eed546aa-8f66-4b03-9762-41008cbb737d">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ProjectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e7b61912-765c-483f-a819-e105d3dd37bc">ProjectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="23204f84-fb1c-4352-ada7-5c65c70169be" SortOrder="0">projectDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3d3e2d03-7af7-4dc2-a8fc-cf2c71151aea</Key>
      <Name>Contact Section</Name>
      <Alias>contactSection</Alias>
      <Definition>e7400465-07cc-4ec6-a5c1-67ae534de724</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/contactSection">Contact Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7d2c215-bc3b-43db-b429-a927ddaf75a6</Key>
      <Name>Project Section</Name>
      <Alias>projectSection</Alias>
      <Definition>03dcc14f-a09b-4003-9dc1-742f2074b9e6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>61ad1bf1-f9aa-48a6-b171-5c6985556951</Key>
      <Caption>Contact Section</Caption>
      <Alias>content/contactSection</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>6cce2939-0ee6-48ec-97f4-b052bf5115ff</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>